@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    height: 100%;
}

#app-content
{
    border: 1px solid #000;
    width: 100%;
    top: 64px;
    bottom: 0px;
    position: absolute;
    padding-right: 0px; 
    padding-left: 0px; 
    overflow: hidden;
}
